version: '3.9'

services:
  ghost:
    image: ghost:latest
    restart: always
    environment:
      database__client: mysql
      database__connection__host: mysql
      database__connection__user: root
      database__connection__password: example
      database__connection__database: ghost
      url: http://localhost:2368
    volumes:
      - ghost-data:/var/lib/ghost/content
    ports:
      - 2368:2368  
  mysql:
    image: mysql:8.0
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: example 
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  ghost-data: {}
  mysql-data: {}
